/*
 Thirdparty CSS
*/

html.touch button{
	font-size:1.2em;
}

body.home button{
	color:#004563;
	background:none;
	text-decoration: underline !important;
}

h2{
	color:#004563;
	text-transform: uppercase;
	padding:0;
	margin: 0;
	line-height: 1.6em;
}

body.home .theme-border-color{
	border-color:#004563;
}

body.home /deep/ .theme-border-color{
	border-color:#004563;
}
